.container {
	padding: 0 15rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	transition: padding 1s ease;
}

.main {
	width: 100%;
	background-color: rgb(255, 255, 255);
	padding: 5rem 0;
	flex: 1;
	display: flex;
	flex-direction: column;

	transition: padding 1s ease;
}

.header {
	width: 100%;
	height: 60px;
	padding: 0 10rem;
	display: flex;
	background-color: #fafafa;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;

	transition: padding 1s ease;
}

.logo {
	display: flex;
	flex-direction: column;
	justify-content: left;
	text-align: left;
	align-items: center;
}

.userIcon {
	display: flex;
	flex-direction: column;
	justify-content: right;
	text-align: right;
	align-items: center;
}

.footer {
	width: 100%;
	height: 75px;
	border-top: 1px solid #f8f8f8;
	color: rgb(172, 172, 172);
	font-size: small;
	display: flex;
	justify-content: center;
	align-items: center;
}

.title text { 
	color: #8A0CFF;
	font-weight: bolder;
	text-decoration: none;
}

.title text:hover,
.title text:focus,
.title text:active {
	text-decoration: none;
}

.title {
	margin: 0;
	text-align: left;
	line-height: 1.15;
	font-size: 4rem;
	font-weight: bold;
}

.title,
.description {
	text-align: left;
}

.description {
	margin: 0 0 2rem;
	line-height: 1.5;
	font-size: 1.5rem;
}

.grid {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	max-width: 800px;
	margin-top: 3rem;
}

.card {
	margin: 1rem;
	flex-basis: 45%;
	padding: 1.5rem;
	text-align: left;
	color: inherit;
	text-decoration: none;
	border: 1px solid #eaeaea;
	border-radius: 10px;
	transition: color 0.15s ease, border-color 0.15s ease;
}

.card:hover,
.card:focus,
.card:active {
	color: #0070f3;
	border-color: #0070f3;
}

.card h3 {
	margin: 0 0 1rem 0;
	font-size: 1.5rem;
}

.card p {
	margin: 0;
	font-size: 1.25rem;
	line-height: 1.5;
}

@media screen
	and (max-width: 600px) {
	.container {
		padding: 0 1.5rem;
	}

	.main {
		padding: 2rem 0;
	}

	.header {
		padding: 0 1.5rem;
	}

	.title {
		font-size: 3.5rem;
		margin: 0 0 1rem;
	}

	.description {
		margin: 0 0 1.5rem;
		font-size: 1.3rem;
	}

	.grid {
		width: 100%;
		flex-direction: column;
	}
}

@media screen
	and (min-width: 601px)
	and (max-width: 720px) {
	.container {
		padding: 0 2.5rem;
	}

	.header {
		padding: 0 3rem;
	}
	
}

@media screen
	and (min-width: 721px)
	and (max-width: 1280px) {
	.container {
		padding: 0 8rem;
	}

	.main {
		padding: 4rem 0;
	}

	.header {
		padding: 0 4rem;
	}
}